  <div style="max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 80px 70px 70px;
  border-radius: 45px; margin-left: 03%;">
  <h3 style="margin-left: 40%"><span style="color: #A32A29">STPA </span><span>MONITOR</span></h3>
    <p>
        Dear All,
    </p>
    <p>kindly note that the <strong>STPA service</strong> is currently down, please restart the service ASAP!</p>
    <p>Kind Regards,</p>

 <div style="margin-top: 1%"></div>
</div>